/* Styling for Form */

@font-face {
    font-family: "norse";
    src: url("Norse-Bold.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --light-border: #E5E7EB;
    --clr-success: green;
    --clr-error: red;
    --inp-focus: lightblue; 
    --site-bg: black;
    --right-bg: lightgray;
    --form-bg: white;
}

body {
    display: flex;
    background-color: var(--site-bg);
}

.left {
    position: relative;
}

.green-bg {
    height: 100%;
    width: 500px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
    height: 150px;
    background: rgba(0, 0, 0, .4);
}

.logo-image {
    height: 75%;
}

.logo-text {
    color: white;
    font-family: "norse";
    font-size: 75px;
}

.right {
    background-color: var(--right-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.input-area {
    box-shadow: 3px 1px 1px 1px ;
    height: 250px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--form-bg);
    margin-bottom: 0.5em;
}

.form-row {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.3em;
}

.desc {
    margin-bottom: 5rem;
    font-size: 1.2em;
}

.main-desc, .sub-desc {
    padding: 0.8rem;
}


input {
    outline: 1px solid var(--light-border);
    border-radius: 5px;
    height: 30px;
}

input:not(:placeholder-shown):valid {
    outline: 2px solid var(--clr-success);
}

input:not(:placeholder-shown):invalid {
    outline: 2px solid var(--clr-error);
}

input:focus {
    /* box-shadow: inset 1px 1px var(--inp-focus); */
    outline: 2px solid var(--inp-focus);
}

button {
    background-color: #596D48;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.sign-in, button {
    margin: 0.5em;
}