/* Styling for Form */


.form-row {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    border-color: #E5E7EB;
}

input:focus {
    box-shadow: inset 3px 3px darkgray;
}